body {
  margin: 0;
  padding: 0;
  font-family: 'helvetica neue', helvetica, sans-serif;
  font-size: 16px;
  background: #111111;
  color: white;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0.75rem 0;
}

h2 {
  font-weight: 300;
}

h5 {
  font-weight: 500;
}

p {
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 0.2px;
}

#root {
  margin: auto;
  padding: 1rem;
  max-width: 34em;
}

a > h3 {
  text-decoration: underline;
}
